// Shared
$hover-height: -0.1em;

// Navbar
$active-color: #bf545e;
$navbar-width: 160px;

// Content
$color-basic-font: #e5e5e5;
$color-crystal: #1a7a8d;
$color-darkness: #000046;
$header-height: 70px;
$footer-height: 70px;
